:root {
  --yaydp-primary-color: #2271b1;
}

.yaydp-cart-item-price {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.yaydp-notice {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  border-radius: 8px;
}

.yaydp-notice-info {
  background-color: #e6f4ff;
  border: 1px solid #91caff;
}

.yaydp-notice-warning {
  background-color: #fffbe6;
  border: 1px solid #ffe58f;
}

.yaydp-notice .yaydp-notice-icon {
  display: flex;
}
.yaydp-notice-info .yaydp-notice-icon {
  color: #1677ff;
}
.yaydp-notice-warning .yaydp-notice-icon {
  color: #faad14;
}

.yaydp-notice-icon {
  width: 15px;
  height: 15px;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.yaydp-notice-info .yaydp-notice-icon {
  background-image: url("../images/info-icon.svg");
}
.yaydp-notice-warning .yaydp-notice-icon {
  background-image: url("../images/warning-icon.svg");
}

.yaydp-free-item-badge,
.yaydp-free-item-change {
  padding: 2px 10px;
  background: var(--yaydp-primary-color);
  border-radius: 3px;
  color: #fff;
}
.variation_gzd_modified + .price.yaydp-discounted-price {
  display: none;
}

/** support blocksy */
.quantity:has(input[readonly="readonly"]) .ct-increase {
  display: none;
}
.quantity:has(input[readonly="readonly"]) .ct-decrease {
  display: none;
}

.yaydp-offer-description {
  margin-bottom: 1rem;
}

/* Sale tag */
.yaydp-sale-tag {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-backface-visibility: hidden;
  z-index: 99;
  pointer-events: none;
  border-style: solid;
  line-height: 1.2;
  border-radius: 5px;
  padding: 3.5px 9px;
  font-weight: 600;
  min-height: 30px;
}

.yaydp-sale-tag:not(.yaydp-custom-sale-tag) {
  position: absolute;
  top: var(--wc-sale-badge-distance, 0.875rem);
  right: var(--wc-sale-badge-distance, 0.875rem);
  left: auto;
}

.woocommerce-product-gallery:has(.woocommerce-product-gallery__trigger)
  .yaydp-sale-tag {
  left: var(--wc-sale-badge-distance, 0.875rem) !important;
  right: auto !important;
}

/* Matching products */
.yaydp-matching-products {
  text-decoration: none;
}
.yaydp-matching-products > li {
  list-style: none;
}

.yaydp-matching-products > li > div {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.yaydp-matching-products .yaydp-matching-product-image {
  margin: 0;
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  vertical-align: middle;
  padding-right: 5px;
}

.wc-block-product-template .wc-block-product,
.wp-block-post-template .wp-block-post {
  position: relative;
}

.yaydp-discounted-price.yaydp-labeled {
  display: block;
}
.yaydp-discounted-price.yaydp-labeled .yaydp-original-prices,
.yaydp-discounted-price.yaydp-labeled .yaydp-calculated-prices {
  display: block;
}
.yaydp-discounted-price.yaydp-labeled .yaydp-price-label {
  opacity: 0.7;
  margin-right: 0.25em;
}
